body {
background-image: url("/static/century20Fox.jpg")
}

.grid-container {
  display: grid;
  grid: auto / auto auto;
  grid-gap: 10px;
  background-color: transparent;
  padding: 10px;
}
.form-control:active,
.form-control:focus,
.form-control:focus:active {
  border-color: blue;
  color: blue;

}
input:not(:placeholder-shown) {
   background-color: gold !important;
}
input:placeholder-shown {
   background-color: gold !important;
}

.addMovie-centered{
    position:absolute;
    width:100px;
    height:100px;
    left:50%;
    top:35%;
    margin-left:-50px;
    margin-top:-50px;
}

.form-control{
    background-color: white;
}

.login-centered{
    position:absolute;
    width:100px;
    height:100px;
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;
}

.remove-form{
    position:absolute;
    width:100px;
    height:100px;
    left:46%;
    top:35%;
    margin-left:-50px;
    margin-top:-50px;
}

.create-centered{
    position:absolute;
    width:100px;
    height:100px;
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;
}

