body {
background-image: url("/static/century20Fox.jpg")
}

.grid-container {
  display: grid;
  grid: auto / auto auto;
  grid-gap: 10px;
  background-color: transparent;
  padding: 10px;
}
.form-control:active,
.form-control:focus,
.form-control:focus:active {
  border-color: blue;
  color: white;
}
input:not(:placeholder-shown) {
   background-color: grey !important;
}
input:placeholder-shown {
   background-color: transparent !important;
}

