.grid-container-top{
    display: flex;
    grid-template-columns: 600px auto;
    grid-template-rows: auto auto;
    background-color: black;
    padding-left: 400px;
  }

  .grid-container-middle{
    display: flex;
    grid-template-columns: auto;
    grid-template-rows: auto
    background-color: black;
    padding-left: 400px;

  }

  .grid-container-bottom{
    display: flex;
    grid-template-columns: 800px auto;
    grid-template-rows: auto auto;
    background-color: black;
    padding-left: 400px;
  }

