{% extends "template.html" %}

{% block title %}Collection{% endblock %}


{% block content %}
  <div class="grid-container">
  <div>
    <a class="text-center">
      <img src={{url_for('static',filename='/ToyStoryPoster.jpg')}}>
    </a>
  </div>
  <div>
    <a class="text-center">
      <img src={{tmntPoster}} alt="TMNT 2014" width="560" height="315">
    </a>
  </div>
  <div>
    <a class="text-center">
      <img src={{grinchPoster}} alt="How The Grinch Stole Christmas" width="560" height="315">
    </a>
  </div>
  <div>
    <a class="text-center">
      <img src={{homeAlonePoster}} alt="Home Alone" width="560" height="315">
    </a>
  </div>
  </div>
{% endblock %}
