{% extends "template.html" %}

{% block title %}Home{% endblock %}
{% block content %}

    <div class="row row-cols-2 float-center">
        <div class="col-6 text-end">
            <iframe width={{width}} height={{height}} src="{{video1}}" title={{title}} frameborder={{frameborder}}
                    allow={{allow}} allowfullscreen>
            </iframe>
        </div>
        <div class="col-6 text-start">
             <iframe width={{width}} height={{height}} src="{{video2}}" title={{title}} frameborder={{frameborder}}
                    allow={{allow}} allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="row row-cols-3">
        <div class="col-4 ">
             <iframe width={{width}} height={{height}} src="{{video3}}" title={{title}} frameborder={{frameborder}}
                    allow={{allow}} allowfullscreen>
            </iframe>
        </div>
        <div class="col-4" id="centerImage">
            <p class="text-danger fs-4 text-center"><strong>Click below to see what's available!</strong></p>
            <a class="view-collection" href="/collection">
                <img src={{imageFile}} alt="Now Playing Sign" width="560" height="315">
            </a>
        </div>
        <div class="col-4 position-relative">
            <iframe width={{width}} height={{height}} src="{{video4}}" title={{title}} frameborder={{frameborder}}
                    allow={{allow}} allowfullscreen>
            </iframe>
        </div>
    </div>
    <div class="row row-col-2">
        <div class="col-6 text-end">
             <iframe width={{width}} height={{height}} src="{{video5}}" title={{title}} frameborder={{frameborder}}
                    allow={{allow}} allowfullscreen>
            </iframe>
        </div>
        <div class="col-6 text-start">
             <iframe width={{width}} height={{height}} src="{{video6}}" title={{title}} frameborder={{frameborder}}
                    allow={{allow}} allowfullscreen>
            </iframe>
        </div>
    </div>

{% endblock %}
