{% extends "template.html" %}

<head>
    <link rel="stylesheet" href="/static/homepage.css">
    <title>{% block title %}Home{% endblock %}</title>
</head>

{% block content %}
    <div class="grid-container-top" style="min-width=100% min-height=100%">
        <div>
            <iframe style="min-width=600px" height="400px" src="https://www.youtube.com/embed/nVeNlaUCa2E?autoplay=1&mute=1&loop=1&controls=0"> </iframe>
        </div>
        <div>
            <iframe style="min-width=600px" height="400px" src="https://www.youtube.com/embed/cS-NPzaDX80?autoplay=1&mute=1&loop=1&controls=0">
            </iframe>
        </div>
    </div>
    <div class="grid-container-middle">
        <div class="justify-content-center">
            <a class="view-collection" href="/collection">
                <img src="/nowPlaying.jpg" alt="Now Playing Sign" width="600px" height="400px" class="justify-content-center">
            </a>
        </div>
    </div>
    <div class="grid-container-bottom">
        <div>
            <iframe width="600px" height="400px" src="https://www.youtube.com/embed/pbFma8Bd-AI?autoplay=1&mute=1&loop=1&controls=0">
            </iframe>
        </div>
        <div>
            <iframe width="600px" height=400px" src="https://www.youtube.com/embed/uqHjMd4Oci4?autoplay=1&mute=1&loop=1&controls=0">
            </iframe>
        </div>
    </div>
{% endblock %}
